.header-top{
	background: url(../img/header-bg.jpg);
	padding: 15px 0;
	position: relative;
	margin-bottom: 10px;
	&::before{
		content: "";
		display: block;
		position: absolute;
		background: url(../img/header-bg.png) repeat-x;
		width: 100%;
		bottom: -15px;
		left: 0;
		height: 15px;
	}
}
.contacts{
	padding-top: 15px;
	float: left;
	@media screen and (max-width: 1000px) {
		float: right;
	}
	.socials-wrap{
		float: left;
		padding-right: 10px;
	}
	.header-contact__telephone{
		float: right;
	}
	.header-contact__telephone{
		float: right;
	}
	.header-contact__link{
		float: right;
	}
}
.top-line{
	padding-bottom: 17px;
	@media screen and (max-width: 749px) {
		.logobox{
			margin: 0;
		}
		.contacts{
			float: right;
		}
		.logobox__img{
			width: 250px;
		}
		.logobox__txt{
			padding-right: 10px;
		}
		.socials-wrap{
			float: none;
			display: block;
			padding-bottom: 2px;
			padding-right: 0;
		}
	}
	.socials-wrap{
		text-align: right;
	}
	@media screen and (max-width: 490px) {
		.contacts{
			float: left;
			text-align: left;
			width: 100%;
			.header-contact__telephone,
			.header-contact__link{
				float: none;
			}
		}
		.logobox__img{
			width: 250px;
		}
		.logobox__txt{
			padding-right: 10px;
		}
		.socials-wrap{
			text-align: left;
		}
	}
}
.logobox{
	float: left;
	margin-right: 130px;
	@media screen and (max-width: 1200px) {
		margin-right: 70px;
	}
}
.register-wrap{
	float: right;
	padding-top: 15px;
	@media screen and (max-width: 1000px) {
		float: left;
		width: 100%;
		padding-top: 20px;
		padding-right: 15px;
		.register{
			float: left;
			padding-top: 10px;
		}
		.cart{
			float: right;
		}
	}
	@media screen and (max-width: 749px) {
		padding-right: 0;
	}
	@media screen and (max-width: 490px) {
		padding-top: 10px;
		.register, .cart{
			float: none;
			padding-top: 10px;
		}
	}
}
.main-menu-wrap{
	padding-bottom: 5px;
}
.akkordeons{
	position: relative;
	@media screen and (max-width: 749px) {
		min-height: 60px;
	}
}
.category-wrap{
	padding-top: 5px;
	@media screen and (max-width: 749px) {
		padding: 0;
		.category-button{
			line-height: 40px;
		}
		.category-button-active{
			right: 14px;
			padding: 0!important;
			width: 40px!important;
		}
	}
	@media screen and (max-width: 549px) {
		position: relative;
		top: auto;
		float: left;
		width: 100%;
		.category-button{
			width: 129px;
			padding-left: 46px;
			i{
				left: 17px;
			}
		}
	}
}
.tovars-wrap{
	padding-left: 15px;
	@media screen and (max-width: 767px) {
		padding: 0 15px;
	}

}
@media screen and (max-width: 749px) {
	.bouquet{
		position: absolute;
		top: 0;
		left: 0;
	}
	.main-menu__button{
		left: 50%;
		margin-left: -79px;
	}
}
@media screen and (max-width: 549px) {
	.bouquet{
		position: relative;
		margin: 0 0 8px;
		float: left;
	}
	.main-menu__button{
		position: relative;
		float: right;
		left: auto;
		margin: 0 0 8px;
	}
}
@media screen and (min-width: 1000px) {
	.register{
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 749px) and (min-width: 549px) {
	.category-button{
		position: absolute;
		right: 0;
	}
}
.tech-inner{
	padding: 21px 15px;
	.breadcrumps-wrap{
		padding-bottom: 35px;
	}
	.h1-wrap {
		padding-bottom: 20px;
		.h1{
			background: none;
		}
	}
	.q-wrap{
		padding: 11px 0 35px;
	}
	.h2-wrap {
		padding-bottom: 30px;
	}
	.h3-wrap {
		padding: 11px 0 28px;
	}
	.h4-wrap {
		padding: 29px 0 26px;
	}
	.table-wrap{
		padding: 28px 0 10px;
	}
}
.text{
	font-size: 14px;
	color: #333;
	line-height: 24px;
	padding-bottom: 20px;
}
.contacts-inner{
	padding: 18px 15px 33px;
	.contacts-info{
		background: #fafafa;
		border: 1px solid #eee;
		padding: 23px 0 7px;
	}
	.info{
		padding-bottom: 20px;
	}
	.info__title{
		font-size: 16px;
		color: #333;
		display: block;
		text-align: center;
		font-weight: 700;
		padding-bottom: 12px;
	}
	.info__descr{
		display: block;
		text-align: center;
		font-size: 16px;
		color: #333;
		padding-bottom: 6px;
	}
	.socials{
		text-align: center;
	}
	.contacts-time{
		padding: 30px 0 35px;
		span{
			font-size: 16px;
			color: #333;
			display: block;
		}
	}
	.contacts-blocks{
		margin: 0 -15px;
	}
	.time__title{
		font-weight: 700;
		padding-bottom: 13px;
	}
	.time__info{
		padding-bottom: 2px;
	}
	.form-wrap{
		background: #fafafa;
		padding: 16px 20px 13px;
		border: 1px solid #eee;
		border-top: 5px solid #cedada;
		border-radius: 2px;
		@media screen and (max-width: 1000px) {
			margin-top: 15px;
		}
	}
	.form__title{
		display: block;
		text-align: center;
		font-weight: 700;
		font-size: 24px;
		color: #333;
		padding-bottom: 10px;
	}
	.form__descr{
		display: block;
		font-size: 14px;
		text-align: center;
		line-height: 16px;
		color: #666;
		padding-bottom: 23px;
		margin: 0 auto;
		max-width: 385px;
	}
	.input-wrap{
		padding-bottom: 15px;
		margin: 0 auto;
		max-width: 294px;
	}
	.checkbox-wrap{
		padding: 7px 0;
	}
	.checkbox__label, .radio__label{
		display: inline;
	}
	.button_main{
		line-height: 40px;
	}
}
.breadcrumps-wrap{
	padding: 0 0 37px;
}
.h1-wrap{
	padding: 0 0 34px;
}
.inner-page-top{
	padding: 17px 0 0;
	.h1{
		line-height: 22px;
	}
	.h1-wrap{
		padding: 0 0 23px;
	}
}
.inner-page{
	padding: 0 0 22px;
}
.services-items{
  padding: 15px 0 0;
	.services__item{
		padding: 25px 0 33px;
		border-bottom: 1px dotted #7f7f7f;
	  &:last-child{
  		border-bottom-color: transparent;
  	}
	}
	.h4-wrap{
		padding-bottom: 21px;
	}
	.item__img{
		width: 263px;
		height: 263px;
		overflow: hidden;
		float: left;
		margin-top: 5px;
		@media screen and (max-width: 991px) {
			float: none;
			margin: 0 auto 10px;
		}
		img{
			width: 100%;
			height: auto;
			min-height: 100%;
			display: block;
		}
	}
	.item__text-wrap{
		margin-left: 295px;
		@media screen and (max-width: 991px) {
			margin-left: 0;
		}
	}
	.item__text{
		color: #333;
		font-size: 14px;
		line-height: 24px;
		padding-bottom: 23px;
		&_italic{
			font-style: italic;
		}
		&:last-child{
			padding-bottom: 0;
		}
		@media screen and (max-width: 991px) {
			padding-bottom: 10px;
		}
	}
}
.filter-block{
	.pagination__style{
		margin-bottom: 0;
	}
	.tovar_block{
		@media screen and (max-width: 1200px) and (min-width: 1023px) {
			text-align: center;
		}
	}
	.tovar_block__item{
		margin-right: 22px;
	}
	.tovar_block__item:nth-child(3n+1){
		margin-right: 23px;
	}
	.tovar_block__item:nth-child(4n){
		@media screen and (min-width: 1200px) {
			margin-right: 0;
		}
	}
	.delete{
		padding: 0 0 23px;
	}
	.instruments__title{
		font-size: 14px;
		color: #333;
		float: left;
		display: block;
		padding: 3px 8px 0 0;
	}
	.instruments__buttons{
		float: left;
		.button{
			margin-left: 8px;
		}
	}
	.instruments__filter-wrap{
		padding-bottom: 14px;
	}
	.instruments__filter{
		padding-bottom: 10px;
		float: left;
	}
	.filter__button{
		font-size: 14px;
		color: #a39762;
		display: inline-block;
		text-decoration: none;
		padding: 0 3px 0 9px;
		border-left: 1px solid #ccc;
		line-height: 1;
		&:first-child{
			border-left: none;
			padding-left: 0;
		}
		&_active span{
			text-decoration: underline;
		}
	}
	.filter__quantity{
		float: right;
		margin-top: -2px;
		.instruments__title{
			float: left;
		}
		.select-wrap{
			width: 45px;
			display: inline-block;
			float: left;
		}
		.jq-selectbox__select{
			height: 27px;
			line-height: 23px;
	    padding: 0 0 0 3px;
			border: 1px solid #eee;
		}
		.jq-selectbox__trigger{
			width: 22px;
		}
		.jq-selectbox__trigger-arrow{
			right: 5px;
			top: 9px;
		}
	}
}
.review-block{
	padding: 35px 0 0;
	.tabs{
		border-bottom: 3px solid #58b38a;
		.tab{
			background: #fff;
			cursor: pointer;
			display: inline-block;
			margin-right: 3px;
			border: 1px solid #abd9c4;
			border-bottom: 0;
			border-top-right-radius: 2px;
			border-top-left-radius: 2px;
			padding: 0 35px;
			text-align: center;
			text-transform: uppercase;
			line-height: 40px;
			font-size: 14px;
			color: #333;
			font-family: 'PT Serif', serif;
			transition: 0.4s all ease;
		}
		.active{
			background: #58b38a;
		}
	}
	.tab-content{
		padding: 24px 0 19px;
		max-width: 950px;
		width: 100%;
	}
	.tab-content__inner{
		background: #fafaf7;
		border: 1px solid #e7e5d9;
		border-bottom: 4px solid #d6d3bf;
		border-top-right-radius: 2px;
		border-top-left-radius: 2px;
		padding: 17px 17px 19px 25px;
	}
	.tab-content__title{
		float: left;
		width: 170px;
	}
	.review__name{
		line-height: 22px;
		color: #333;
		font-size: 16px;
		font-style: italic;
		display: block;
		padding-bottom: 5px;
	}
	.review__date{
		display: block;
		font-size: 14px;
		color: #666;
	}
	.tab-content__text{
		background: url(../img/review-arrow.png) 0 5px no-repeat;
		margin-left: 170px;
		padding-left: 51px;
		p{
			line-height: 22px;
			font-size: 14px;
			color: #333;
			padding-bottom: 19px;
		}
	}
	.review__raiting{
		display: inline-block;
		margin-right: 11px;
		.fa{
			font-size: 22px;
			display: inline-block;
			cursor: pointer;
		}
		&_like{
			.fa{
				color: #333;
			}
			.like-quant{
				color: #0b845b;
				font-size: 15px;
			}
		}
		&_dislike{
			.fa{
				color: #999;
			}
			.dislike-quant{
				font-size: 15px;
				color: #d2453d;
			}
		}
	}
	.button-wrap{
		padding-bottom: 21px;
		.button{
			margin-right: 26px;
		}
		.all-review{
			font-size: 14px;
			color: #a39762;
			text-decoration: none;
			span{
				letter-spacing: 1px;
				text-decoration: underline;
			}
			.fa{
				color: inherit;
				display: inline-block;
				padding-left: 6px;
			}
		}
	}
	.take-review{
		border: 1px solid #eee;
		border-top: 5px solid #cedada;
		border-radius: 2px;
		background: #fafafa;
		padding: 17px 10px 0;
		width: 100%;
		max-width: 950px;
	}
	.take-review__title{
		display: block;
		text-align: center;
		font-size: 24px;
		color: #333;
		font-weight: 700;
		padding-bottom: 24px;
		font-family: 'PT Serif';
	}
	.form-inner{
		margin: 0 auto;
		width: 100%;
		max-width: 750px;
	}
	.input-wrap{
		float: left;
		padding-bottom: 20px;
		width: 50%;
		&_right {
			padding-left: 15px;
		}
	}
	.big-wrap{
		width: 100%;
	}
	.checkbox-wrap{
		float: left;
		padding: 9px 0;
	}
	.button-right{
		float: right;
	}
}
.cart-order{
	padding: 26px 0 0;
	background: #faf8f8;
	.h4-wrap{
		border-bottom: 1px dotted #7d7c7c;
		padding-bottom: 10px;
		margin: 0 1px;
	}
	.tovars-block{
		padding: 20px 0 0;
	}
}