

.mycolmd{	
	padding-right: 0 !important;
	padding-left: 0 !important;	
}
.mainmenudesk{
	height: 53px;
	overflow-y:hidden;
	display: none;
	@media only screen and (min-width : 750px) {
		display: block;
	} 
}

.fancybox-skin{
	padding: 0 !important;
}
.fancybox-close{
	top: 0px;
	right: -40px;
	width: 31px;
	height: 31px;
	background-image: url("../img/dd-close.png");
}


.fancybox-nav{
	background: none;
	// background: url("../img/cart-right.png") no-repeat center;
}
.fancybox-next span{
	width: 41px;
	height: 41px;
	right:0;
	background: url("../img/cart-right2.png") no-repeat center;
	&:hover{
		background: url("../img/cart-right.png");
	}
}
.fancybox-prev span{
	width: 41px;
	height: 41px;
	left:0;
	background: url("../img/cart-left.png") no-repeat center;
	&:hover{
		background: url("../img/cart-left2.png");
	}
}

.button_main{
	border: none;
}




.pagination__style{
	padding: 0 15px;
	@media only screen and (min-width : 770px) {
		margin-bottom: 25px;
	}
	@media only screen and (min-width : 990px) {
		padding-left: 3px;
		margin-bottom: 45px;
	}
}

.tovar_block{
	text-align: center;
	// padding-left: 10px;
	@media only screen and (min-width : 1024px) {
		text-align: left;
	}
}
.tovar_block__caption{
	margin-bottom: 17px;
	margin-top: 40px;
	max-width: 855px;
	text-align: center;
	@media only screen and (min-width : 990px) {
		text-align: left;
	}
}
.tovar_block__item{
	max-width: 265px;
	width: 100%;
	display: inline-block;
	text-align: right;
	background-color: transparent;
	border: 3px solid transparent;
	border-radius: 3px;
	transition:0.3s;
	margin-bottom: 22px;
	&:hover{
		border: 3px solid #dcd7c4;
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
	}
	@media only screen and (min-width : 550px) {
		width: 48%;
		margin-right: 5px;
	}
	@media only screen and (min-width : 770px) {
		width: 48%;
	}
	@media only screen and (min-width : 990px) {
		width: 32%;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 265px;
		width: 100%;
		margin-right: 24px;
	}
}

.tovar_block__item:nth-child(3n+1){
	margin-right: 0;
}
.tovar_block__img{
	width: 100%;	
	position: relative;
	@media only screen and (min-width : 1200px) {
		height: 200px;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}
.tovar_block__sale{
	color: white;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	display: inline-block;
	background-image: url("../img/sale.png");
	background-repeat: no-repeat;
	background-position: left 5px center;
	background-color: #ef671b;
	position: absolute;
	left: 0;
	top:19px;
	padding: 0 8px 0 25px;
}
.tovar_block__hit{
	color: #333;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	display: inline-block;
	background-image: url("../img/hit.png");
	background-repeat: no-repeat;
	background-position: left 5px center;
	background-color: #ffe000;
	position: absolute;
	left: 0;
	top:44px;
	padding: 0 8px 0 25px;
}


.tovar_block__text{
	padding: 24px 24px 24px 19px;
	border: 1px solid #e9e2e2;
	margin-top: -15px;
	@media only screen and (min-width : 1200px) {
		margin-top: 0px;
	}
}
.tovar_block__name{
	color: #333;
	font-size: 16px;
	font-style: italic;
	line-height: 18px;
	text-decoration: underline; 
	margin-bottom: 32px;
	padding-right: 8px;
	text-align: center;
	display: block;
	@media only screen and (min-width : 1024px) {
		text-align: right;
	}
	&:hover{
		text-decoration: none; 
	}
}
.tovar_block__oldprice{
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #65646a;
	margin-left: 3px;
	display: inline-block;
	float: left;
	text-decoration: line-through;
	@media only screen and (min-width : 1200px) {
		font-size: 18px;
	}
}
.tovar_block__newprice{
	color: #333;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	display: inline-block;
	margin-bottom: 21px;
	float: right;
	@media only screen and (min-width : 1200px) {
		font-size: 20px;
	}
}
.tovar_block__add_busket{
	color: #988f5b;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	padding: 0 14px 0 40px;
	background-image: url("../img/busket.png");
	background-repeat: no-repeat;
	background-position: left 5px center;
	border: 1px solid #b3ac86;
	border-radius: 3px;
	border-bottom-width: 3px;
	display: inline-block;
	background-color: #fff;
	transition:0.3s;
	&:hover{
		background-color: #b3ac86;
		background-image: url("../img/busket2.png");
		color: #fff;
		border-color: #9f9871;
	}
}




/* cart 1  */

.cart-inner{
	padding: 18px 15px 33px;
	text-align: center;
	@media only screen and (min-width : 990px) {
		text-align: left;	
	}
}
.cart__left_block{
	max-width: 555px;
	width: 100%;
	display: inline-block;
	text-align: left;
	@media only screen and (min-width : 990px) {
		max-width: unset;
		width: 49%;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 555px;
		width: 100%;
	}
}
.cart__left_block__img{
	max-width: 554px;
	margin: 0 auto;
	margin-bottom: 9px;
	position: relative;
	img{
		width: 100%;
		height: auto;
	}
	a:hover:after{
		content: "";
		text-align: center;
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		width: 55px;
		height: 55px;
		border-radius: 50%;
		background-color: rgba(#988e5b,0.8);
		background-image: url("../img/plus1.png");
		background-repeat: no-repeat;
		background-position: center center;
	}

}
.hiddenslider{
	display: none;
	@media only screen and (min-width : 750px) {
		display: block;
	}
}



.cart__slider_img{
	width: 131px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #eeeeee;
	padding: 4px;
	img{
		width: 100%;
		height: auto;
	}
	&:hover{
		border: 2px solid #988e5b;
		padding: 3px;
		
	}
}
.cart-left, .cart-right{
	position: absolute;
	top:28px;
	left:0;
	width: 41px;
	height: 41px;
	background-image: url("../img/cart-left.png");
	background-repeat: no-repeat;
	background-position: left center;
}
.cart-left:hover{
	background-image: url("../img/cart-left2.png");
}
.cart-right{
	right: 0;
	left: unset;
	background-image: url("../img/cart-right2.png");
	&:hover{
		background-image: url("../img/cart-right.png");
	}
}

.slidermobile{
	display: block;
	@media only screen and (min-width : 750px) {
		display: none;
	}
	.cart-left, .cart-right{		
		top:50%;
		transform:translateY(-50%);		
	}
	.cart__left_block__img{
		a:after{
			content: "";
			text-align: center;
			position: absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			width: 55px;
			height: 55px;
			border-radius: 50%;
			background-color: rgba(#988e5b,0.8);
			background-image: url("../img/plus1.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}


.cart__right_block{
	max-width: 580px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	@media only screen and (min-width : 990px) {
		padding-left: 25px;
		max-width: unset;
		width: 49%;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 580px;
		width: 100%;
	}
}
.cart__compound{
	background-color: #ecfcf4;
	border: 1px solid #bddfce;
	box-shadow: 0 2px 1px rgba(30, 117, 83, 0.09);
	padding: 9px 20px;
}
.cart__compoundtxt{
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-right: 24px;
}
.cart__compound__table{
	display: inline-block;
	tr{
		display: block;
		color: #333333;
	}
	td{
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}
	tr td:nth-child(1){
		margin-right: 10px;
		width: 136px;
	}
}




.cart__characteristics{
	margin-top: 28px;
}

.cart__char__left{
	width: 70px;
	display: inline-block;	
	span{
		font-size: 14px;
		font-weight: 400;
		color: #666666;
		display:block;
		margin-bottom: 22px;
	}
	@media only screen and (min-width : 400px) {
		width: 95px;
	}
}

.cart__char__right{
	display: inline-block;
	max-width: 170px;
	width: 100%;
	vertical-align: top;
	@media only screen and (min-width : 320px) {
		max-width: 200px;
	}
	@media only screen and (min-width : 400px) {
		max-width: 250px;
	}
}
.cart__size, .cart__article{
	display: block;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	background-image: url("../img/widtharrow.png");
	background-repeat: no-repeat;
	background-position: bottom 0px left 3px;
	margin-bottom: 9px;
	height: 29px;
	b{		
		background-image: url("../img/heightarrow.png");
		background-position: left 4px top -2px;
		background-repeat: no-repeat;
		padding-left: 15px;
		padding-bottom: 6px;
		display: inline-block;
	}
}
.cart__article{
	background-image:none;
}
.cart__char__right__number{
	-ms-user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	user-select :none;
	input{
		color: #000;
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
		width: 32px;
		height: 32px;
		border: 1px solid #e5e5e5;
		vertical-align: top;
		background-color: #fff;
		text-align: center;
	}
}
.cart-button2, .cart-button3{
	color: #333;
	font-size: 22px;
	font-weight: 400;
	width: 32px;
	height: 32px;
	border: 1px solid #e5e5e5;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
}
.cart-button3{
	background-color: #f6f6f6;	
}


.cart__char__right__colors{
	margin: 17px 0 7px 0;
	a{
		width: 28px;
		height: 28px;
		display: inline-block;
		border: 1px solid #cccccc;
		padding: 2px;
		text-align: center;
		i{
			display: inline-block;
			width: 100%;
			height: 99%;
		}
		&:hover{
			padding: 1px;
			border: 2px solid #a09769;
		}
		@media only screen and (min-width : 400px) {
			width: 32px;
			height: 32px;
		}
	}	
	a:nth-child(1){i{ background-color: #fff; }}
	a:nth-child(2){i{ background-color: #f4d214; }}
	a:nth-child(3){i{ background-color: #f46e14; }}
	a:nth-child(4){i{ background-color: #f41414; }}
	a:nth-child(5){i{ background-color: #148df4; }}
	a:nth-child(6){i{ 
		background-image: -webkit-linear-gradient(bottom, #f4d214 0%, #2f66e5 0%, #148df4 0%, #f41414 0%, #f41414 0%, #f4d214 0%, #f49214 29%, #f41414 63%, #c714f4 100%); 
		background-image: linear-gradient(to top, #f4d214 0%, #2f66e5 0%, #148df4 0%, #f41414 0%, #f41414 0%, #f4d214 0%, #f49214 29%, #f41414 63%, #c714f4 100%); 
	}}
	
}
.cart__colortxt{
	text-align: center;
	max-width: 230px;
	height: 26px;
	span{
		display: none;
		color: #333;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
		padding: 0 10px;
		height: 26px;
		background-color: white;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
	}
	@media only screen and (min-width : 1200px) {

	}
}


.cart__optiopn{
	background-color: #fafaf7;
	padding: 19px 0 14px 0;
	border-bottom: 1px solid #eae9de;
	margin-top: 15px;
}
.cart__optiopn__cap{
	color: black;
	font-size: 14px;
	font-weight: 400;
	display: block;
	padding: 0 0 8px 22px;
}

.cart__radio{
	padding: 10px 5px 10px 10px;	
	margin-bottom: 0;
	@media only screen and (min-width : 550px) {
		padding: 8px 50px 0 24px;
		height: 38px;
	}
}
.cart__radio_checked{
	background-color: #d6d3be;
}
.cart__optiopn{
	.cart__custom{
		// border-color: #988e5b;
		width: 16px;
		height: 16px;
		border:none;
		background: url("../img/radio4.png") no-repeat center;
		z-index: 1;
		&:before{
			width: 16px !important;
			height: 16px !important;
			background: url("../img/radio3.png") no-repeat !important;	
			z-index: 99;			
		}
	}
}
.cart__label{
	color: black;
	font-size: 14px;
	font-weight: 400;
	width: 120px;
	margin-left: 0;
	vertical-align: top;
	@media only screen and (min-width : 550px) {
		width: 200px;
	}
	@media only screen and (min-width : 750px) {
		width: 228px;
	}
	@media only screen and (min-width : 990px) {
		width: 135px;
		margin-left: 9px;
	}
	@media only screen and (min-width : 1200px) {
		width: 228px;
	}
}
.cartoldprice{
	color: #666;
	font-size: 16px;
	font-weight: 400;
	text-decoration: line-through;
	display: inline-block;
	float: right;
	@media only screen and (min-width : 420px) {
		width: 110px;
		float: none;
	}
	@media only screen and (min-width : 990px) {
		width: 100px;
	}
	@media only screen and (min-width : 1200px) {
		width: 110px;
	}
}
.cartnewprice{
	color: #333;
	font-size: 16px;
	font-weight: 700;	
	display: inline-block;
	text-align: right;
	width: 100%;	
	@media only screen and (min-width : 420px) {
		float: right;
		width: 89px;
	}
}


.cart__choise{
	min-height: 68px;
	text-align: center;
	border-bottom: 1px solid #eae9de;
	padding-top: 17px;
	span{
		color: #333;
		line-height: 34px;
		font-size: 14px;
		font-style: italic;	
		max-width: 322px;
		width: 100%;
		display: inline-block;
		text-align: center;
		b{
			font-size: 18px;
			font-weight: 700;
			font-style: italic;
		}
	}
	.tovar_block__add_busket{
		margin-bottom: 10px;
	}
	@media only screen and (min-width : 750px) {
		text-align: right;
		.tovar_block__add_busket{
			float: right;
			margin-bottom: 0;
		}
	}
	@media only screen and (min-width : 990px) {
		span{		
			max-width: 270px;
		}
	}
	@media only screen and (min-width : 1200px) {
		span{		
			max-width: 322px;
		}
	}
}


.share_block{    
	text-align: left;  
	margin-top: 15px; 
	margin-bottom: 20px;
	@media only screen and (min-width : 550px) {
		margin-bottom: 25px;
	}
	@media only screen and (min-width : 990px) {
		text-align: left; 
		margin-top: 30px;
		margin-bottom: 0px; 
	}
}
.share{
	color: #333;
	font-size: 14px;
	font-weight: 400;
	line-height: 31px;   
	display: inline-block;
	vertical-align: middle;
}
.share__socials{
	margin-left: 14px;
	display: inline-block;
	vertical-align: top;
	padding-top: 2px;
}



.cart__information{
	text-align: center;
	padding: 10px 0 20px 0;	
	margin-top: 20px;
	@media only screen and (min-width : 550px) {
		margin-top: 25px;
		margin-bottom: 20px;
		text-align: left;
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
	}
	@media only screen and (min-width : 990px) {
		margin-top: 45px;
		margin-bottom: 30px;
		text-align: center;
	}
}
.cart__boxadd{
	width: 100%;
	display: inline-block;
	margin-bottom: 20px;
	text-align: center;
	@media only screen and (min-width : 550px) {
		width: 240px;		
	}
	@media only screen and (min-width : 700px) {
		width: 31%;
		margin-bottom: 0px;
	}
	@media only screen and (min-width : 1200px) {
		width: 33%;
	}
	
}
.cart__boxadd__img{
	
}



.cart__boxadd__text{
	position: relative;
	cursor: pointer;
	transition:0.4s;
	display: inline-block;
}
.cart__boxadd__hover{
	color: #0e8a5d;
	font-family: 'pt_serifitalic', serif;
	font-size: 18px;
	line-height: 20px;
	display: inline-block;
	border-bottom: 1px dashed #0e8a5d;
	margin-top: 10px;
}
.cart__boxadd__show{
	text-align: center;
	color: #333;
	font-family: 'PT Serif', serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	background-color: white;	
	padding: 12px 16px;	
	z-index: 99;	
	@media only screen and (min-width : 550px) {
		display: none;
		width: 261px;
		text-align: left;
		border: 1px solid #eee;
		border-radius: 3px;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
		position: absolute;
		// bottom: -110px;
		left: 50%;
		transform:translateX(-50%);
	}
}
.cart__boxadd__text:hover{
	.cart__boxadd__hover{
		border-bottom-color: transparent;
	}
	.cart__boxadd__show{
		display: block;
	}

}



.popup__log_in{
	max-width: 382px;
	margin: 0 auto;
	position: relative;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.22);
	background-image: url("../img/toppopupbg.png");
	background-repeat: no-repeat;
	background-position: top left;

}
.popup__caption{
	color: #333;
	font-size: 18px;
	font-weight: 700;
	line-height: 32px;
	margin: 0px 0 10px 0;
}
.dd-close{
	position: absolute;
	top:10px;
	right:10px;
	width: 31px;
	height: 31px;
	background-image: url("../img/dd-close.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	@media only screen and (min-width : 750px) {
		right:-37px;
		top:0;
	}
}
.popup__input_box{
	padding: 12px 40px 24px 41px;
}
.checkboxpassword{
	margin-top: 20px;
}
.popup__checkbox{
	display: inline-block;
	float: left;
}
.inptoptext{
	color: #333;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 6px;
}
.forget__password{
	color: #0e8a5d;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: underline;
	display: inline-block;
	float: right;
}
.register__in_link{
	color: #0e8a5d;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: underline;
	display: inline-block;
	float: left;
	padding-top: 10px;
}
.popup_submit{
	background-color: #0e8a5d;
	border-radius: 3px;
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	outline: none;
	border: none;
	float: right;
	height: 40px;
	padding: 0 24px;
}

.modal__thanks{
	max-width: 382px;
	margin: 0 auto;
	position: relative;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.22);
	padding: 20px 30px;
	h2{
		text-align: center;
		color: #333;
		font-size: 18px;
		font-weight: 700;
		line-height: 32px;
	}
	span{
		text-align: left;
		display: block;
		line-height: 22px;
		font-size: 16px;
		color: #333;
		padding-top: 10px;
	}
}


#mask { 
	position: absolute;
	background: #000;
	top: 0;
	left: 0;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	z-index: 500;
	display:none; 
}

.js-window{ 
	position: absolute;
	top: 0;	
	left: 0;
	z-index: 9950;
	display: none;
	margin: 0 auto;
}





