.sidebar-testimonials{
	&_view{
		background:url("../img/testimonials-fon.png")no-repeat bottom right #fafaf7;
		border: 1px solid #e7e5d9;
		border-bottom: 3px solid #e7e5d9;
		max-width: 262px;
		margin:0 auto;
		position: relative;
	}
	&_padding{
		padding: 24px 0 30px 0;
		margin-top: 20px;
	}
	&__span1{
		color: #444;
		font-size: 22px;
		font-weight: 700;
		font-style: italic;
		line-height: 26px;
		font-family: 'PT Serif', serif;
		padding-left: 23px;
		padding-bottom: 24px;
		display: block;
	}
	&__p{
		color: #333;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		padding-left: 19px;
		padding-right: 10px;
	}
	&__span3{
		color: #666;
		font-size: 14px;
		font-weight: 400;
		display: inline-block;
		padding-left: 4px;
		padding-bottom: 14px;
	}
	&__span2{
		color: #333;
		font-size: 16px;
		font-style: italic;
		display: block;
		padding-bottom: 9px;
		padding-left: 4px;
	}
	&__link{
		background:url("../img/testimonials-link.png") no-repeat  left;
		color: #a39762;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		text-decoration: underline;
		margin-left: 22px;
		padding-left: 16px;
		margin-top: 30px;
		display: block;
	}
}
.df-left{
	background:url("../img/df-left.png")no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	top: -49px;
	right: 53px;
}
.df-right{
	background:url("../img/df-right.png")no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	top: -49px;
	right: 16px;
}

.sidebar-box{
	&_view{
		background: url("../img/sidebar-fon.jpg")no-repeat;
		background-size: cover;
		margin: 0 auto;
		max-width: 262px;
		padding-bottom: 17px;
		border-bottom: 3px solid #bddfce;
	}
	span{
		color: #333;
		font-size: 13px;
		font-weight: 700;
		font-style: italic;
		line-height: 46px;
		font-family: 'PT Serif', serif;
		padding-left: 23px;
		display: block;
		@media only screen and (min-width : 768px) {
			padding-left: 16px;
		}
		@media only screen and (min-width : 1200px) {
			padding-left: 23px;
		}
		letter-spacing: 0.02em;
	}
}
@media only screen and (min-width : 768px) {
	.alone{
		line-height: 20px !important;
		padding: 10px 0;
	}
}
@media only screen and (min-width : 1200px) {
	line-height: unset !important;
	padding: unset;

}

.sidebar-menu{
	&_margin{
		margin-top: -5px;
		margin-bottom: 5px;
	}
	&__item{
		padding-left: 24px;
		@media only screen and (min-width : 768px) {
			padding-left: 5px;
		}
		@media only screen and (min-width : 1200px) {
			padding-left: 24px;
		}
		&_first{
			padding: 9px 0px 9px 24px;
			@media only screen and (min-width : 768px) {
				padding: 9px 0px 9px 5px;
			}
			@media only screen and (min-width : 1200px) {
				padding: 9px 0px 9px 24px;
			}
			border-bottom: 1px solid #bddfce;
		}
	}
	&__link{
		color: #0e8a5d;
		font-size: 16px;
		font-family: 'PT Serif', serif;
		font-weight: 400;
		background: url("../img/sidebar-link.png")no-repeat top 7px left;
		padding-left: 12px;
		@media only screen and (min-width : 768px) {
			font-size: 14px;
		}
		@media only screen and (min-width : 1200px) {
			font-size: 16px;
		}
		&:hover{
			color: #ee671b;
			background: url("../img/sidebar-link_active.png")no-repeat top 7px left;
		}
	}
}
.sidebar-sale{
	&_view{
		background: url("../img/sale.jpg") no-repeat;
		color: white;
		font-weight: 200;
		font-size: 18px;
		line-height: 22px;
		max-width: 262px;
		margin: 0 auto;
	}
	&_padding{
		padding: 16px 17px;
		@media only screen and (min-width : 768px) {
			padding: 6px 17px;
		}
		@media only screen and (min-width : 1200px) {
			padding: 6px 17px;
		}
	}
	&__span1{
		line-height: 29px;
		font-size: 30px;
	}
	&__span2{
		font-size: 34px;
		font-weight: 600;
		line-height: 37px;
		text-align: right;
		display: block;

	}
}
.sidebar{
	&_margin{
		margin-top: 40px;
	}
}

.footer-bottom{
	&_padding{
		padding: 20px 0;
	}
	&__pay{
		display: none;
		padding-left: 25px;
		&:first-child{
			padding-left: 0px;
		}
		@media only screen and (min-width : 550px) {
			display: inline-block;
		}
		@media only screen and (min-width : 750px) {
			padding-left: 59px;
		}
		@media only screen and (min-width : 992px) {
			padding-left: 42px;
		}
	}
	&__contact{
		line-height: 24px;
		font-weight: 400;
		font-size: 12px;
		color: #333;
		span{
			color: #a39762;
		}
		@media only screen and (min-width : 550px) {
			padding-top: 15px;
			display: inline-block;
		}
		@media only screen and (min-width : 992px) {
			padding-top: 0px;
			text-align: right;
			display: block;
		}
	}

}
