.mycolmd {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.pagination__style {
  padding: 0 15px; }
  @media only screen and (min-width: 770px) {
    .pagination__style {
      margin-bottom: 25px; } }
  @media only screen and (min-width: 990px) {
    .pagination__style {
      padding-left: 3px;
      margin-bottom: 45px; } }

.tovar_block {
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .tovar_block {
      text-align: left; } }

.tovar_block__caption {
  margin-bottom: 17px;
  margin-top: 40px;
  max-width: 855px;
  text-align: center; }
  @media only screen and (min-width: 990px) {
    .tovar_block__caption {
      text-align: left; } }

.tovar_block__item {
  max-width: 265px;
  width: 100%;
  display: inline-block;
  text-align: right;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 3px;
  transition: 0.3s;
  margin-bottom: 22px; }
  .tovar_block__item:hover {
    border: 3px solid #dcd7c4;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15); }
  @media only screen and (min-width: 550px) {
    .tovar_block__item {
      width: 48%;
      margin-right: 5px; } }
  @media only screen and (min-width: 770px) {
    .tovar_block__item {
      width: 48%; } }
  @media only screen and (min-width: 990px) {
    .tovar_block__item {
      width: 32%; } }
  @media only screen and (min-width: 1200px) {
    .tovar_block__item {
      max-width: 265px;
      width: 100%;
      margin-right: 24px; } }

.tovar_block__item:nth-child(3n+1) {
  margin-right: 0; }

.tovar_block__img {
  width: 100%;
  position: relative; }
  @media only screen and (min-width: 1200px) {
    .tovar_block__img {
      height: 200px; } }
  .tovar_block__img img {
    max-width: 100%;
    height: auto; }

.tovar_block__sale {
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  background-image: url("../img/sale.png");
  background-repeat: no-repeat;
  background-position: left 5px center;
  background-color: #ef671b;
  position: absolute;
  left: 0;
  top: 19px;
  padding: 0 8px 0 25px; }

.tovar_block__hit {
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
  background-position: left 5px center;
  background-color: #ffe000;
  position: absolute;
  left: 0;
  top: 44px;
  padding: 0 8px 0 25px; }

.tovar_block__text {
  padding: 24px 24px 24px 19px;
  border: 1px solid #e9e2e2;
  margin-top: -15px; }
  @media only screen and (min-width: 1200px) {
    .tovar_block__text {
      margin-top: 0px; } }

.tovar_block__name {
  color: #333;
  font-size: 16px;
  font-style: italic;
  line-height: 18px;
  text-decoration: underline;
  margin-bottom: 32px;
  padding-right: 8px;
  text-align: center;
  display: block; }
  @media only screen and (min-width: 1024px) {
    .tovar_block__name {
      text-align: right; } }
  .tovar_block__name:hover {
    text-decoration: none; }

.tovar_block__oldprice {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #65646a;
  margin-left: 3px;
  display: inline-block;
  float: left;
  text-decoration: line-through; }
  @media only screen and (min-width: 1200px) {
    .tovar_block__oldprice {
      font-size: 18px; } }

.tovar_block__newprice {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  margin-bottom: 21px;
  float: right; }
  @media only screen and (min-width: 1200px) {
    .tovar_block__newprice {
      font-size: 20px; } }

.tovar_block__add_busket {
  color: #988f5b;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 14px 0 40px;
  background-image: url("../img/busket.png");
  background-repeat: no-repeat;
  background-position: left 5px center;
  border: 1px solid #b3ac86;
  border-radius: 3px;
  border-bottom-width: 3px;
  display: inline-block;
  background-color: #fff;
  transition: 0.3s; }
  .tovar_block__add_busket:hover {
    background-color: #b3ac86;
    background-image: url("../img/busket2.png");
    color: #fff;
    border-color: #9f9871; }

/* cart 1  */
.cart-inner {
  padding: 18px 15px 33px;
  text-align: center; }
  @media only screen and (min-width: 990px) {
    .cart-inner {
      text-align: left; } }

.cart__left_block {
  max-width: 555px;
  width: 100%;
  display: inline-block;
  text-align: left; }
  @media only screen and (min-width: 990px) {
    .cart__left_block {
      max-width: unset;
      width: 49%; } }
  @media only screen and (min-width: 1200px) {
    .cart__left_block {
      max-width: 555px;
      width: 100%; } }

.cart__left_block__img {
  max-width: 554px;
  margin: 0 auto;
  margin-bottom: 9px; }
  .cart__left_block__img img {
    width: 100%;
    height: auto; }

.cart__slider_img {
  width: 131px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #eeeeee;
  padding: 4px; }
  .cart__slider_img img {
    width: 100%;
    height: auto; }
  .cart__slider_img:hover {
    border: 2px solid #988e5b;
    padding: 3px; }

.cart-left, .cart-right {
  position: absolute;
  top: 28px;
  left: 0;
  width: 41px;
  height: 41px;
  background-image: url("../img/cart-left.png");
  background-repeat: no-repeat;
  background-position: left center; }

.cart-right {
  right: 0;
  left: unset;
  background-image: url("../img/cart-right.png"); }

.cart__right_block {
  max-width: 580px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: left; }
  @media only screen and (min-width: 990px) {
    .cart__right_block {
      padding-left: 25px;
      max-width: unset;
      width: 49%; } }
  @media only screen and (min-width: 1200px) {
    .cart__right_block {
      max-width: 580px;
      width: 100%; } }

.cart__compound {
  background-color: #ecfcf4;
  border: 1px solid #bddfce;
  box-shadow: 0 2px 1px rgba(30, 117, 83, 0.09);
  padding: 9px 20px; }

.cart__compoundtxt {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  margin-right: 24px; }

.cart__compound__table {
  display: inline-block; }
  .cart__compound__table tr {
    display: block;
    color: #333333; }
  .cart__compound__table td {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; }
  .cart__compound__table tr td:nth-child(1) {
    margin-right: 10px;
    width: 136px; }

.cart__characteristics {
  margin-top: 28px; }

.cart__char__left {
  width: 70px;
  display: inline-block; }
  .cart__char__left span {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    display: block;
    margin-bottom: 22px; }
  @media only screen and (min-width: 400px) {
    .cart__char__left {
      width: 95px; } }

.cart__char__right {
  display: inline-block;
  max-width: 170px;
  width: 100%;
  vertical-align: top; }
  @media only screen and (min-width: 320px) {
    .cart__char__right {
      max-width: 190px; } }
  @media only screen and (min-width: 400px) {
    .cart__char__right {
      max-width: 250px; } }

.cart__size, .cart__article {
  display: block;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  background-image: url("../img/widtharrow.png");
  background-repeat: no-repeat;
  background-position: bottom 0px left 3px;
  margin-bottom: 9px;
  height: 29px; }
  .cart__size b, .cart__article b {
    background-image: url("../img/heightarrow.png");
    background-position: left 4px top -2px;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-bottom: 6px;
    display: inline-block; }

.cart__article {
  background-image: none; }

.cart__char__right__number {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
  .cart__char__right__number input {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #e5e5e5;
    vertical-align: top;
    background-color: #fff;
    text-align: center; }

.cart-button2, .cart-button3 {
  color: #333;
  font-size: 22px;
  font-weight: 400;
  width: 32px;
  height: 32px;
  border: 1px solid #e5e5e5;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: #fff; }

.cart-button3 {
  background-color: #f6f6f6; }

.cart__char__right__colors {
  margin: 17px 0 7px 0; }
  .cart__char__right__colors a {
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid #cccccc;
    padding: 2px;
    text-align: center; }
    .cart__char__right__colors a i {
      display: inline-block;
      width: 26px;
      height: 25px; }
    .cart__char__right__colors a:hover {
      padding: 1px;
      border: 2px solid #a09769; }
  .cart__char__right__colors a:nth-child(1) i {
    background-color: #fff; }
  .cart__char__right__colors a:nth-child(2) i {
    background-color: #f4d214; }
  .cart__char__right__colors a:nth-child(3) i {
    background-color: #f46e14; }
  .cart__char__right__colors a:nth-child(4) i {
    background-color: #f41414; }
  .cart__char__right__colors a:nth-child(5) i {
    background-color: #148df4; }
  .cart__char__right__colors a:nth-child(6) i {
    background-image: -webkit-linear-gradient(bottom, #f4d214 0%, #2f66e5 0%, #148df4 0%, #f41414 0%, #f41414 0%, #f4d214 0%, #f49214 29%, #f41414 63%, #c714f4 100%);
    background-image: linear-gradient(to top, #f4d214 0%, #2f66e5 0%, #148df4 0%, #f41414 0%, #f41414 0%, #f4d214 0%, #f49214 29%, #f41414 63%, #c714f4 100%); }

.cart__colortxt {
  text-align: center;
  max-width: 230px; }
  .cart__colortxt span {
    display: inline-block;
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    width: 77px;
    height: 26px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 3px; }

.cart__optiopn {
  background-color: #fafaf7;
  padding: 19px 0 14px 0;
  border-bottom: 1px solid #eae9de;
  margin-top: 15px; }

.cart__optiopn__cap {
  color: black;
  font-size: 14px;
  font-weight: 400;
  display: block;
  padding: 0 0 8px 22px; }

.cart__radio {
  padding: 10px 5px 10px 10px;
  margin-bottom: 0; }
  @media only screen and (min-width: 550px) {
    .cart__radio {
      padding: 8px 50px 0 24px;
      height: 38px; } }

.cart__radio_checked {
  background-color: #d6d3be; }

.cart__custom {
  border-color: #988e5b; }
  .cart__custom:before {
    background: url("../img/radio2.png") no-repeat !important; }

.cart__label {
  color: black;
  font-size: 14px;
  font-weight: 400;
  width: 120px;
  margin-left: 0;
  vertical-align: top; }
  @media only screen and (min-width: 550px) {
    .cart__label {
      width: 200px; } }
  @media only screen and (min-width: 750px) {
    .cart__label {
      width: 228px; } }
  @media only screen and (min-width: 990px) {
    .cart__label {
      width: 135px;
      margin-left: 9px; } }
  @media only screen and (min-width: 1200px) {
    .cart__label {
      width: 228px; } }

.cartoldprice {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block; }
  @media only screen and (min-width: 550px) {
    .cartoldprice {
      width: 110px; } }
  @media only screen and (min-width: 990px) {
    .cartoldprice {
      width: 100px; } }
  @media only screen and (min-width: 1200px) {
    .cartoldprice {
      width: 110px; } }

.cartnewprice {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  width: 89px;
  display: inline-block;
  text-align: right; }
  @media only screen and (min-width: 420px) {
    .cartnewprice {
      float: right; } }

.cart__choise {
  min-height: 68px;
  text-align: center;
  border-bottom: 1px solid #eae9de;
  padding-top: 17px; }
  .cart__choise span {
    color: #333;
    line-height: 34px;
    font-size: 14px;
    font-style: italic;
    max-width: 322px;
    width: 100%;
    display: inline-block;
    text-align: center; }
    .cart__choise span b {
      font-size: 18px;
      font-weight: 700;
      font-style: italic; }
  .cart__choise .tovar_block__add_busket {
    margin-bottom: 10px; }
  @media only screen and (min-width: 750px) {
    .cart__choise {
      text-align: right; }
      .cart__choise .tovar_block__add_busket {
        float: right;
        margin-bottom: 0; } }
  @media only screen and (min-width: 990px) {
    .cart__choise span {
      max-width: 270px; } }
  @media only screen and (min-width: 1200px) {
    .cart__choise span {
      max-width: 322px; } }

.share_block {
  text-align: center;
  margin-top: 4px; }
  @media only screen and (min-width: 990px) {
    .share_block {
      text-align: left; } }

.share {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  display: inline-block;
  vertical-align: middle; }

.share__socials {
  margin-left: 14px;
  display: inline-block;
  vertical-align: top;
  padding-top: 2px; }

.cart__information {
  text-align: center;
  padding: 10px 0 20px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-top: 45px;
  margin-bottom: 30px; }

.cart__boxadd {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px; }
  @media only screen and (min-width: 700px) {
    .cart__boxadd {
      width: 31%;
      margin-bottom: 0px; } }
  @media only screen and (min-width: 1200px) {
    .cart__boxadd {
      width: 33%; } }

.cart__boxadd__text {
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  display: inline-block; }

.cart__boxadd__hover {
  color: #0e8a5d;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  font-style: italic;
  line-height: 20px;
  display: inline-block;
  border-bottom: 1px dashed #0e8a5d;
  margin-top: 10px; }

.cart__boxadd__show {
  text-align: left;
  color: #333;
  font-family: 'PT Serif', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  padding: 12px 16px;
  position: absolute;
  bottom: -110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 261px;
  display: none; }

.cart__boxadd__text:hover .cart__boxadd__hover {
  border-bottom-color: transparent; }
.cart__boxadd__text:hover .cart__boxadd__show {
  display: block; }

/*# sourceMappingURL=style-df.css.map */
