

.mycolmd{	
	padding-right: 0 !important;
	padding-left: 0 !important;	
}



.pagination__style{
	padding: 0 15px;
	@media only screen and (min-width : 770px) {
		margin-bottom: 25px;
	}
	@media only screen and (min-width : 990px) {
		padding-left: 3px;
		margin-bottom: 45px;
	}
}

.tovar_block{
	text-align: center;
	// padding-left: 10px;
	@media only screen and (min-width : 1024px) {
		text-align: left;
	}
}
.tovar_block__caption{
	margin-bottom: 17px;
	margin-top: 40px;
	max-width: 855px;
	text-align: center;
	@media only screen and (min-width : 990px) {
		text-align: left;
	}
}
.tovar_block__item{
	max-width: 265px;
	width: 100%;
	display: inline-block;
	text-align: right;
	background-color: #fdfdfd;
	border: 3px solid transparent;
	border-radius: 3px;
	transition:0.3s;
	margin-bottom: 22px;
	&:hover{
		border: 3px solid #dcd7c4;
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
	}
	@media only screen and (min-width : 550px) {
		width: 48%;
		margin-right: 5px;
	}
	@media only screen and (min-width : 770px) {
		width: 48%;
	}
	@media only screen and (min-width : 990px) {
		width: 32%;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 265px;
		width: 100%;
		margin-right: 24px;
	}
}

.tovar_block__item:nth-child(3n+1){
	margin-right: 0;
}
.tovar_block__img{
	width: 100%;	
	position: relative;
	@media only screen and (min-width : 1200px) {
		height: 200px;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}
.tovar_block__sale{
	color: white;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	display: inline-block;
	background-image: url("../img/sale.png");
	background-repeat: no-repeat;
	background-position: left 5px center;
	background-color: #ef671b;
	position: absolute;
	left: 0;
	top:19px;
	padding: 0 8px 0 25px;
}
.tovar_block__hit{
	color: #333;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	display: inline-block;
	background-image: url("../img/hit.png");
	background-repeat: no-repeat;
	background-position: left 5px center;
	background-color: #ffe000;
	position: absolute;
	left: 0;
	top:44px;
	padding: 0 8px 0 25px;
}


.tovar_block__text{
	padding: 24px 24px 24px 19px;
	border: 1px solid #e9e2e2;
	margin-top: -15px;
	@media only screen and (min-width : 1200px) {
		margin-top: 0px;
	}
}
.tovar_block__name{
	color: #333;
	font-size: 16px;
	font-style: italic;
	line-height: 18px;
	text-decoration: underline; 
	padding-bottom: 32px;
	padding-right: 8px;
	text-align: center;
	@media only screen and (min-width : 1024px) {
		text-align: right;
	}
}
.tovar_block__oldprice{
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #65646a;
	margin-left: 3px;
	display: inline-block;
	float: left;
	@media only screen and (min-width : 1200px) {
		font-size: 18px;
	}
}
.tovar_block__newprice{
	color: #333;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	display: inline-block;
	margin-bottom: 21px;
	float: right;
	@media only screen and (min-width : 1200px) {
		font-size: 20px;
	}
}
.tovar_block__add_busket{
	color: #988f5b;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	padding: 0 14px 0 40px;
	background-image: url("../img/busket.png");
	background-repeat: no-repeat;
	background-position: left 5px center;
	border: 1px solid #b3ac86;
	border-radius: 3px;
	border-bottom-width: 3px;
	display: inline-block;
	background-color: #fff;
	transition:0.3s;
	&:hover{
		background-color: #b3ac86;
		background-image: url("../img/busket2.png");
		color: #fff;
		border-color: #9f9871;
	}
}






