.body {
  font-family: 'Open Sans', sans-serif;
  background: url(../img/body-bg.jpg); }

body, html {
  height: 100%; }

.n-wrapper {
  background: #fff;
  width: 100%;
  max-width: 1214px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.18); }

strong {
  font-weight: 600; }
