.h2 { color: #333; font-family: 'PT Serif', serif; font-size: 37px; font-style: italic; line-height: 18px; }
@media only screen and (min-width: 1000px) { .h2 { font-size: 32px; } }
@media only screen and (min-width: 700px) { .h2 { font-size: 26px; } }
