.h2 {
	color: #333;
	font-family: 'pt_serifbold_italic', serif;
	font-size: 28px;
	line-height: 18px;
	letter-spacing: 1px;
	@media only screen and (max-width : 1000px) {
		font-size: 22px;
	}
	@media only screen and (max-width : 700px) {
		font-size: 18px;
	}
}