.h3 { color: #333; font-family: 'PT Serif', serif; font-size: 32px; font-weight: 700; font-style: italic; line-height: 18px; }
@media only screen and (min-width: 1000px) { .h3 { font-size: 22px; } }
@media only screen and (min-width: 700px) { .h3 { font-size: 18px; } }
