.h3 {
	color: #333;
	font-family: 'pt_serifbold_italic', serif;
	font-size: 24px;
	line-height: 18px;
	letter-spacing: 0.8px;
	@media only screen and (max-width : 1000px) {
		font-size: 18px;
	}
	@media only screen and (max-width : 700px) {
		font-size: 16px;
	}
}