.category { border: 1px solid #e2dece; -webkit-box-shadow: 0px 10px 0px -6px #e7e5d9; -moz-box-shadow: 0px 10px 0px -6px #e7e5d9; box-shadow: 0px 10px 0px -6px #e7e5d9; background: #fff; }
@media screen and (max-width: 749px) { .category { display: none; } }

.category-button { transition: 0.05s all ease; text-decoration: none; display: none; font-size: 14px; color: #988f5b; border: 1px solid #e2dece; border-bottom-width: 4px; background: #fff; position: relative; width: 159px; padding-left: 53px; line-height: 56px; cursor: pointer; z-index: 101; }
.category-button i { display: block; width: 20px; height: 2px; background: #b7b08c; left: 25px; top: 19px; position: absolute; }
.category-button i:nth-child(2) { top: 24px; }
.category-button i:last-child { top: 30px; }
@media screen and (max-width: 749px) { .category-button { display: block; } }

.main-category { padding: 0; }
.main-category > li { float: left; list-style: none; position: relative; }
.main-category > li > a { display: block; line-height: 50px; padding: 0 25px 0 20px; color: #988f5b; font-size: 16px; text-decoration: none; position: relative; }
@media screen and (max-width: 1200px) { .main-category > li > a { padding: 0 17px 0 8px; } }
@media screen and (max-width: 1000px) { .main-category > li > a { font-size: 13px; padding: 0 10px 0 5px; } }
.main-category > li > a .fa { color: inherit; font-size: 11px; position: absolute; right: 12px; top: 21px; }
@media screen and (max-width: 1200px) { .main-category > li > a .fa { right: 5px; } }
@media screen and (max-width: 1000px) { .main-category > li > a .fa { right: 1px; font-size: 9px; } }
.main-category > li > a:hover { color: #625b39; }
.main-category > li > a:hover ul { display: block; }
.main-category > li:hover { background: #f4f2ed; }
.main-category > li:hover ul { display: block; }
.main-category > li ul { background: #fff; display: none; border: 1px solid #e2dece; position: absolute; left: 0; z-index: 10; top: 58px; width: 230px; padding: 8px 0; }
.main-category > li ul::before { content: ""; display: block; width: 100%; height: 10px; z-index: 10; position: absolute; top: -10px; }
.main-category > li ul li { padding: 0 19px 0 12px; background: #fff; list-style: none; }
.main-category > li ul li a { display: block; color: #b1a77c; font-size: 14px; position: relative; padding: 14px 0 14px 19px; border-bottom: 1px solid #eeece2; text-decoration: none; }
.main-category > li ul li a:hover { color: #6e6540; }
.main-category > li ul li a::before { content: ""; display: block; position: absolute; width: 4px; height: 4px; background: #b1a87c; border-radius: 50%; left: 3px; top: 50%; margin-top: -2px; }
@media screen and (max-width: 1000px) { .main-category > li ul li a { font-size: 13px; } }
.main-category > li ul li:last-child a { border-bottom: none; }

.category-mobile { display: none; width: 100%; position: absolute; top: 0; z-index: 1000; left: 0; }

.category-button-active { z-index: 1001; color: transparent; background: #9f9668 url(../../img/close.png) center no-repeat; width: 40px; height: 40px; position: absolute; top: 45px; right: 14px; padding-left: 0; border: none; }
.category-button-active i { display: none; }

.mobile-category { width: 100%; z-index: 100; padding: 45px 70px 22px 15px; background: #fff; }
.mobile-category .category-active .fa { transform: rotate(90deg); }
.mobile-category > li { background: #f4f2ed; list-style: none; cursor: pointer; margin-bottom: 2px; }
.mobile-category > li > span { display: block; line-height: 50px; padding: 0 15px 0 20px; color: #988f5b; font-size: 14px; text-decoration: none; position: relative; }
.mobile-category > li > span .fa { color: inherit; font-size: 11px; margin-left: 6px; position: absolute; right: 14px; top: 17px; transition: 0.3s all ease; }
.mobile-category > li ul { padding: 5px 0; background: #fff; }
.mobile-category > li ul li { padding: 0 19px 0 12px; list-style: none; }
.mobile-category > li ul li a { display: block; color: #b1a77c; font-size: 13px; position: relative; padding: 14px 0 14px 25px; border-bottom: 1px solid #eeece2; text-decoration: none; }
.mobile-category > li ul li a:hover { color: #6e6540; }
.mobile-category > li ul li:last-child a { border-bottom: none; }
