.button{
	font-family: 'Open sans';
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	transition: 0.3s all ease;
	&_delete{
		font-size: 14px;
		background: #fff;
		border: 1px solid #0e8a5d;
		line-height: 30px;
    padding: 0 31px 0 16px;
	}
	&_delete-single{
		background: url(../../img/cross-green.png) top 9px right 12px no-repeat;
		color: #0e8a5d;
		border-color: #baddcb;
		&:hover{
			background-color: #baddcb;
		}
	}
	&_delete-all{
		background: url(../../img/cross-red.png) top 9px right 12px no-repeat;
		color: #bb1833;
		border-color: #fde4e8;
		&:hover{
			background-color: #fde4e8;
		}
	}
	&_main{
		font-size: 16px;
		color: #fff;
		background: #0e8a5d;
		text-align: center;
		line-height: 44px;
		width: 165px;
		&:hover{
			background-color: #0b6142;
		}
	}
	&_mini{
		line-height: 40px;
	}
	&_review{
		width: auto;
		padding: 0 21px 0 49px;
		background: #0e8a5d url(../../img/comment.png) 11px 13px no-repeat;
	}
	&__switch{
		width: 32px;
		height: 32px;
		background: #e5e5e5;
		text-align: center;
		border: 1px solid #e5e5e5;
		color: #fff;
		border-radius: 0;
		padding-top: 6px;
		&:hover{
			background: #fff;
			border-color: #999;
			color: #000;
		}
	}
}